*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea


.idea/caches/
.idea/codeStyles/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/src/androidTest/
app/src/test/
basemodel/src/androidTest/
basemodel/src/test/
common/src/androidTest/
common/src/main/java/com/cgy/common/receiver/
common/src/main/java/com/cgy/common/service/
photopicker/src/androidTest/
photopicker/src/test/
screenshot/
videomodel/src/androidTest/
videomodel/src/test/
