*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/

app/src/androidTest/
app/src/test/
basemodel/src/androidTest/
basemodel/src/test/
common/src/androidTest/
common/src/test/
photopicker/src/androidTest/
photopicker/src/test/
screenshot/
videomodel/src/androidTest/
videomodel/src/test/
