<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.common">

    <!-- supportsRtl支持设置排列方向 -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true"
        />
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25"
        />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".module.main.MainActivity" />
        <activity android:name=".module.news.view.NewsDetailActivity" />
    </application>

</manifest>